<div class="days">
    {{#each daysOfTheWeek}} 
        <div class="day-of-the-week {{classes}}"><div class="day-content"><span>{{this}}</span></div></div>
    {{/each}}
    {{#each days}} 
        <div class="{{classes}}"><div class="day-content"><span>{{day}}</span></div></div>
    {{/each}}
</div>
