<script>window._ui_models = window._ui_models || [];
window._ui_models.push({
    "id":"{{id}}",
    {{#if formTagId}}
    "formTagId":"{{formTagId}}",
    {{/if}}
    "attributes":{{{attributes}}},
    "options":{{{options}}},
    "validation":{{{validation}}}
});
</script>
