@colarea: 100 - (@ui-gutter*13);
@col: @colarea / 12;

 
@1col: round(@col, 2);
@2col: round((@col*2) + (@ui-gutter*1), 2);
@3col: round((@col*3) + (@ui-gutter*2), 2);
@4col: round((@col*4) + (@ui-gutter*3), 2);
@5col: round((@col*5) + (@ui-gutter*4), 2);
@6col: round((@col*6) + (@ui-gutter*5), 2);
@7col: round((@col*7) + (@ui-gutter*6), 2);
@8col: round((@col*8) + (@ui-gutter*7), 2);
@9col: round((@col*9) + (@ui-gutter*8), 2);
@10col: round((@col*10) + (@ui-gutter*9), 2);
@11col: round((@col*11) + (@ui-gutter*10), 2);
@12col: round((@col*12) + (@ui-gutter*11), 2);