@base:16px;

@r: unit((1/@base), rem);
@em: unit((1/@base), em);

@ui-bp-small: 0px;
@ui-bp-medium: 640px;
@ui-bp-large: 768px;
@ui-bp-xlarge: 1025px;
@ui-bp-xxlarge: 1400px;

@foundation-bp-small: @ui-bp-small;
@foundation-bp-medium: @ui-bp-medium;
@foundation-bp-large: @ui-bp-large;
@foundation-bp-xlarge: @ui-bp-xlarge;
@foundation-bp-xxlarge: @ui-bp-xxlarge;

@ui-gutter-small: @r*20;
@ui-gutter-medium: @r*20;
@ui-gutter-large: @r*20;
@ui-gutter-xlarge: @r*20;
@ui-gutter-xxlarge: @r*20;
@ui-gutter-static:@r*24;
@ui-gutter-vertical:@r*24;

@ui-color-primary:#61849B;
@ui-color-primary-reverse:#fff;
@ui-color-secondary:#F06E35;
@ui-color-accent:#0469b1;
@ui-color-accent-reverse:#fff;
@ui-color-accent-hover:lighten(@ui-color-accent, 10%);
@ui-color-accent-focus:saturate(lighten(@ui-color-accent, 10%), 0%);
@ui-color-error:#F73D06;


@ui-color-blue:#0661F7; @ui-color-blue-reverse:#fff;
@ui-color-red:#b10404; @ui-color-red-reverse:#fff;
@ui-color-purple:#3d04b1; @ui-color-purple-reverse:#fff;
@ui-color-green:#49b104; @ui-color-green-reverse:#fff;
@ui-color-orange:#e98400; @ui-color-orange-reverse:#fff;
@ui-color-teal:#04afb1; @ui-color-teal-reverse:#fff;
@ui-color-yellow:#e9e600; @ui-color-yellow-reverse:fade(#000,30%);
@ui-color-brown:#8e5914; @ui-color-brown-reverse:#fff;

@ui-color-success:@ui-color-green; @ui-color-success-reverse:@ui-color-green-reverse;
@ui-color-error:@ui-color-red; @ui-color-error-reverse:@ui-color-red-reverse;

@ui-color-text:#7D7D78;
@ui-text-color:@ui-color-text;
@ui-color-text-reverse:#ccc;
@ui-text-color-reverse:@ui-color-text-reverse;

@ui-color-light:#e0e0e0;
@ui-color-dark:#bbb;

@ui-border-width:@r*2;
@ui-border-color:#aaa;

@ui-shadow: 0px 1px 3px fade(#000,30%);

@ui-icons-path:'../icons/';

@ui-element-vertical-margin:  @r*16;
@ui-element-horizontal-margin:  @r*16;
@ui-element-vertical-padding: @r*8;
@ui-element-vertical-padding: .5em; 
@ui-element-horizontal-padding:  1em;

//@ui-element-size-small:

@ui-space-small: @r*12;
@ui-space-medium: @r*12;
@ui-space-large: @r*16;
@ui-space-xlarge: @r*32;
@ui-space-xxlarge: @r*32;

@ui-font-primary-family:'Source Sans Pro', sans-serif;
@ui-font-primary-line-height:1.7;

@ui-font-primary-size-small: @r*12;
@ui-font-primary-size: @r*16;
@ui-font-primary-size-large: @r*24;

@ui-font-size-xsmall: .5em;
@ui-font-size-small: .75em;
@ui-font-size-normal: 1em;
@ui-font-size-large: 1.25em;
@ui-font-size-xlarge: 1.5em;
@ui-font-size-xxlarge: 2em;

@ui-font-weight-light: 200;
@ui-font-weight-normal: 400;
@ui-font-weight-semibold: 600;
@ui-font-weight-semi-bold:@ui-font-weight-semibold;
@ui-font-weight-bold: 700;

.ui-font-primary(){
	font-family: @ui-font-primary-family;
	font-size:@ui-font-primary-size;
	line-height: @ui-font-primary-line-height;
}
.ui-font-primary-short(){
	.ui-font-primary();
	line-height: 1;
}


//component specific variables
	
    @ui-border-radius: 0;

    //buttons
    @ui-button-border-width: 2px;
    @ui-button-text-color-default: @ui-color-accent-reverse;
    @ui-button-background-color-default: @ui-color-accent;


    //toggles
    @ui-toggle-switch-label:'\00a0\00a0on\00a0\00a0\00a0off';
    @ui-toggle-switch-label:'\00a0+\00a0-';
    @ui-toggle-switch-label:'';
    @ui-toggle-switch-label-letter-spacing: @r*3;
    @ui-toggle-switch-label-line-height: @r*20;
    @ui-toggle-width: @r*50;
    @ui-toggle-inner-padding:@r*2;
    @ui-toggle-height: @r*25;
    @ui-toggle-rounded: @r*0;


	


.ui-get-col(@prop, @columns, @area:100vw, @gut:0px, @additional-gutter:0px, @outside-gutter:false) when (@outside-gutter = false){
    @total-area: ~'@{area} - (@{gut} * 13)';
    @single-column: ~'(@{total-area})/12';
    @inside-gutter-count: @columns - 1;
    @calc-string: ~'(@{single-column}) * @{columns} + (@{gut} * @{inside-gutter-count})';
    @{prop}: ~'calc(@{calc-string} + @{additional-gutter})';
    @{prop}: ~'-moz-calc(@{calc-string} + @{additional-gutter})';
    @{prop}: ~'-webkit-calc(@{calc-string} + @{additional-gutter})';
    @{prop}: ~'-o-calc(@{calc-string} + @{additional-gutter})';
}
