& when (@bp = @ui-bp-small){




    body.ui-test-body{
        padding-left: @ui-gutter-static;
        padding-right: @ui-gutter-static;
        padding:0;
    }

    *:focus{
        //outline:3px dotted gold !important;
    }

    .ui-floating-layer{
        position: absolute;
        top:0;
        left:0;
        width:0;
        height:0;
        z-index: 9999;
    }
  
    //fonts
    .ui.textfield,
    .ui.select,
    .ui.button{
        font-family: inherit;
        line-height: 1;
        //.ui-font-primary-short();
    }

    
    .ui-color-success{  color: @ui-color-success; }
    .ui-color-error{  color: @ui-color-error; }

    .ui-color-blue{  color: @ui-color-primary; }
    .ui-color-red{  color: @ui-color-red; }

    .ui-color-purple{  color: @ui-color-purple; }
    .ui-color-orange{  color: @ui-color-orange; }
    .ui-color-brown{  color: @ui-color-brown; }

    .ui-color-green{  color: @ui-color-green; }
    .ui-color-teal{  color: @ui-color-teal; }
    .ui-color-yellow{  color: @ui-color-yellow; }
    .ui-color-white{  color: #fff, @ui-color-text; }




    .ui-popup{
        background-color: #fff;
        box-shadow: @ui-shadow;
    }






}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){






    // body.ui-test-body{
    //     padding-left: @ui-gutter;
    //     padding-right: @ui-gutter;
    // }






}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
