& when (@bp = @ui-bp-small){

    
    .ui-button:not(.no-style){

        border:0 none;
        margin:0;
        padding:@ui-element-vertical-padding;
        padding-left: @ui-element-horizontal-padding;
        padding-right: @ui-element-horizontal-padding;
        margin-bottom: @ui-element-vertical-margin;
        .user-select(none);



        position: relative;
        display: inline-block;
        text-align: center;
        .box-sizing(border-box);
        //text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        font-size: inherit;

        border-radius: @ui-border-radius;
        color: @ui-button-text-color-default;
        background-color: @ui-button-background-color-default;
        border:@ui-button-border-width solid @ui-button-background-color-default;;

        &:focus{
            outline: 0 none;
        }

        &:hover{
            opacity:.90;
        }

        &:active{
            opacity:.80;
            //background-color:darken(@ui-color-accent-hover, 5%);
        }

        &.error{
            
        }

        

        .color-style(@color, @color-reverse){
            background-color: @color;
            color: @color-reverse;
            border-color:@color;
            &.outline{
                background:transparent;
                border-color:@color;
                color:@color;
            }
            &.chromeless{
                background:transparent;
                color: @color;
                padding-left: 0;
                padding-right: 0;
                border:0 none;
            }
        }
        &.disabled,
        &[disabled]{
            opacity:.3;
            pointer-events: none;
            cursor: default;
        }
        & { .color-style(@ui-button-background-color-default, @ui-button-text-color-default); }
        &.green { .color-style(@ui-color-green,  @ui-color-green-reverse); }
        &.yellow { .color-style(@ui-color-yellow,  @ui-color-yellow-reverse); }
        &.orange { .color-style(@ui-color-orange,  @ui-color-orange-reverse); }
        &.brown { .color-style(@ui-color-brown,  @ui-color-brown-reverse); }
        &.purple { .color-style(@ui-color-purple,  @ui-color-purple-reverse); }
        &.teal { .color-style(@ui-color-teal,  @ui-color-teal-reverse); }
        &.red { .color-style(@ui-color-red,  @ui-color-red-reverse); }

        &.success { .color-style(@ui-color-success,  @ui-color-success-reverse); }
        &.error { .color-style(@ui-color-error,  @ui-color-error-reverse); }
 
        &.text { .color-style(@ui-color-text,  @ui-color-text-reverse); }
        &.white { .color-style(#fff,  @ui-color-text); }
        &.black { .color-style(#000,  @ui-color-text-reverse); }

        &.xsmall { font-size: @ui-font-size-xsmall; }
        &.small { font-size: @ui-font-size-small; }
        &.normal { font-size: @ui-font-size-normal; }
        &.large { font-size: @ui-font-size-large; }
        &.xlarge { font-size: @ui-font-size-xlarge; }
        &.xxlarge { font-size: @ui-font-size-xxlarge; }
        


    }

    .ui-button:not(.no-style)+.ui-button:not(.no-style){
        margin-left: @ui-element-horizontal-padding/2;
    }

    .ui-grid>.ui-cell>.ui-button:not(:only-child), 
    .ui-row>.ui-cell>.ui-button:not(:only-child){
        width:auto;
    }

 





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
