@ui-calendar-width:@r*300;
@ui-calendar-background-color:#fff;
@ui-calendar-border-color:#e6e6e6;
@ui-calendar-border-color-reverse:darken(@ui-calendar-border-color, 10%);
@ui-calendar-border-width:@r*1;
@ui-calendar-border:@ui-calendar-border-width solid @ui-calendar-border-color;
@ui-calendar-border:0 none;
@ui-calendar-day-border:0 none;
@ui-calendar-day-border:@ui-calendar-border-width solid @ui-calendar-border-color;
.ui-calendar-style(){
    border:@ui-calendar-border;
}
.ui-calendar-other-month-style(){
    color:mix(#000, @ui-calendar-background-color, 25%);
    background-color: mix(#000, @ui-calendar-background-color, 2.5%);
}
.ui-calendar-current-day-style(){
    color: @ui-color-accent;
    //border:@ui-calendar-border-width solid @ui-color-accent;
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: .75em .75em 0 0 ;
        border-color: currentColor transparent transparent transparent;
        opacity: .5;
    }
    //background-color: mix(@ui-color-accent, @ui-calendar-background-color, 5%);
}


& when (@bp = @ui-bp-small){

    
    .ui-calendar:not(.no-style){

        width: @ui-calendar-width; 
        .ui-calendar-style();
        .user-select(none);
        cursor: default;

        .ui-calendar-toolbar{
            position: relative;
            padding-top: 100%/7;
            .title{
                position: absolute;
                top:50%;
                margin-top: -.5em;
                left: 0;
                line-height: 1;
                padding-left: 1em;
                font-weight: @ui-font-weight-semibold;
            }
            .prev-button,
            .next-button{
                position: absolute;
                top:0;
                right: 0;
                width: 100%/7;
                padding-top: 100%/7;
                cursor: pointer;
                font-weight: bold;
                i{
                    position: absolute;
                    top: 50%;
                    margin-top: -.5em;
                    width: 100%;
                    display: block;
                    text-align: center;
                }
                &:hover{
                    //background-color: @ui-color-accent;
                    color: @ui-color-accent-hover;
                }
            }
            .prev-button{
                right: 100%/7;
            }
        }

        .days{

            // &:after{
            //     content: '';
            //     display: block;
            //     clear: both;
            // }

            .flex-display();
            .flex-wrap(wrap);
            position: relative;
            border-top:@ui-calendar-day-border;


            .day,
            .day-of-the-week{
                border-right:@ui-calendar-day-border;
                min-width: 100%/7;
                width: 100%/7;
                padding-top: 100%/7;
                text-align: center;
                position: relative;

                &:nth-child(n+8){
                    border-top:@ui-calendar-day-border;
                }
                &:nth-child(7n){
                    width: auto;
                    .flex(1);
                    border-right:0 none;
                }
                
                .day-content{
                    .flex-display();
                    span{
                        .align-self(center);
                        width:100%;
                        text-align: center;
                    }
                    position: absolute;
                    width:100%;
                    height: 100%;
                    top:0;
                    left: 0;
                }
            }

            .day-of-the-week{
                background-color: @ui-calendar-border-color;
                padding-top: (100% / 7)/2;
                font-size: .75em;
                color: @ui-calendar-border-color-reverse;
            }

            .day{

                cursor: pointer;

                &.today .day-content{
                    .ui-calendar-current-day-style();
                    color: @ui-color-accent;
                }

                &.next-month,
                &.last-month{
                    .day-content{
                        .ui-calendar-other-month-style();
                    }
                }

                &:hover .day-content{
                    background-color: @ui-color-accent-hover;
                    color: @ui-color-accent-reverse;
                }

                &.selected .day-content{
                    color:@ui-color-accent-reverse;
                    background-color:@ui-color-accent;
                }


            }

        }


    }


 





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
