& when (@bp = @ui-bp-small){


    .ui-toggle,
    .ui-radio-group,
    .ui-input{


        &.ui-error{
            
            &:before{
                background-color: lighten(@ui-color-error, 35%);
            }

            &:after{
                background-color: @ui-color-error;
            }


            &.ui-focus .ui-error-message,
            &:hover .ui-error-message{
                visibility: visible;
                opacity: 1;
                z-index: 999;
                margin-top: @ui-element-vertical-padding/2;
            }

            &.ui-error-show:after{
                width:100%;
                opacity: 1;
                background-color: @ui-color-error;
            }

        }

        .ui-error-message{
            color:#fff;
            background-color:@ui-color-error;
            position: absolute;
            top: 100%;
            left:0;
            opacity: 0;
            .box-sizing(border-box);
            .transition(~'.5s');
            .ease(easeOutExpo);
            font-size: @ui-font-primary-size-small;
            margin-top: 0;
            padding: @ui-element-vertical-padding/2;
            pointer-events: none;
            border:1px solid @ui-color-error;
            &:before{
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 @ui-element-vertical-padding/3 @ui-element-vertical-padding/3 @ui-element-vertical-padding/3;
                border-color: transparent transparent @ui-color-error transparent;
                position: absolute;
                top: -@ui-element-vertical-padding/3;
                left: @ui-element-vertical-padding - (@ui-element-vertical-padding/3);
            }
        }

  }

 





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
