.ui-grid-set-gutters(){
    
    .ui-row,
    .ui-grid{
        margin-left: -@ui-gutter/2;
        margin-right: -@ui-gutter/2;
        &>.ui-cell{
            padding-left: @ui-gutter/2;
            padding-right: @ui-gutter/2;

            &:not([class*="ui-small-"]):not([class*="ui-medium-"]):not([class*="ui-large-"]):not([class*="ui-xlarge-"]):not([class*="ui-xxlarge-"]){
                padding-left: @ui-gutter/2;
                padding-right: @ui-gutter/2;
                margin-bottom: @ui-gutter;
            }


            &.ui-align-center{
                .align-content(center)
            }


        }
        .ui-cell{ 
            .ui-row,
            .ui-grid{
                padding-left: 0 !important;
                padding-right: 0 !important;
                width: calc(~"100% + @{ui-gutter}"); 
            }
        }
    }

}

& when (@bp = @ui-bp-small){

    .ui-grid-set-gutters();

    .ui-row,
    .ui-grid{

        position: relative;

        .flex-display();
        .flex-wrap(wrap);

        &.ui-justify{
            .justify-content(space-between);
        }

        &.ui-align-bottom{ 
            .align-items(flex-end);
        }

        &.ui-margin-collapse{
            &>.ui-cell{
                margin-top:0 !important;
                margin-bottom:0 !important;
            }
        } 

        &.ui-collapse{
            margin-left: 0;
            margin-right: 0;
            width: auto;
            .ui-cell{
                padding: 0;
                margin: 0;
                .ui-row{
                    margin-left: 0;
                    margin-right: 0;
                    width: auto;
                }
            }
        }

        &>.ui-cell{

            //.flex-display();
            //.flex-wrap(wrap);   
            position: relative;
            

            &>*{
                width:100%;
            }

           .demo{
                position: relative;
                background-color: fade(#000,5%);
                padding-top:@ui-gutter/2;
                padding-bottom:@ui-gutter/2;
           }

           &:nth-child(1n) .demo{ background-color: fade(red,5%); }
           &:nth-child(2n) .demo{ background-color: fade(purple,5%); }
           &:nth-child(3n) .demo{ background-color: fade(blue,5%); }
           &:nth-child(4n) .demo{ background-color: fade(green,5%); }

           .box-sizing(border-box);
           padding-left: @ui-gutter/2;
           padding-right: @ui-gutter/2;
           margin-bottom: @ui-gutter;
           .flex();

           &.ui-small-auto{
               .flex(1);
           }

           &:not([class*="ui-small-"]):not([class*="ui-medium-"]):not([class*="ui-large-"]):not([class*="ui-xlarge-"]):not([class*="ui-xxlarge-"]){
               .flex(1);
           }

           &.ui-small-1 { width:(100% / 12) * 1; }
           &.ui-small-2 { width:(100% / 12) * 2; }
           &.ui-small-3 { width:(100% / 12) * 3; }
           &.ui-small-4 { width:(100% / 12) * 4; }
           &.ui-small-5 { width:(100% / 12) * 5; }
           &.ui-small-6 { width:(100% / 12) * 6; }
           &.ui-small-7 { width:(100% / 12) * 7; }
           &.ui-small-8 { width:(100% / 12) * 8; }
           &.ui-small-9 { width:(100% / 12) * 9; }
           &.ui-small-10{ width:(100% / 12) * 10;}
           &.ui-small-11{ width:(100% / 12) * 11;}
           &.ui-small-12{ width:(100% / 12) * 12;}

           &.ui-min,
           &.ui-small-min{ .flex(none); width: auto; }


        }

        &.ui-strict{

        }
                
        .ui-cell.ui-strict,
        &.ui-strict>.ui-cell{
           &.ui-small-1 { width:@1col + @ui-gutter; }
           &.ui-small-2 { width:@2col + @ui-gutter; }
           &.ui-small-3 { width:@3col + @ui-gutter; }
           &.ui-small-4 { width:@4col + @ui-gutter; }
           &.ui-small-5 { width:@5col + @ui-gutter; }
           &.ui-small-6 { width:@6col + @ui-gutter; }
           &.ui-small-7 { width:@7col + @ui-gutter; }
           &.ui-small-8 { width:@8col + @ui-gutter; }
           &.ui-small-9 { width:@9col + @ui-gutter; }
           &.ui-small-10 { width:@10col + @ui-gutter; }
           &.ui-small-11 { width:@11col + @ui-gutter; }
           &.ui-small-12 { width:@12col + @ui-gutter; }
        }

        .ui-cell>*[data-ui]:last-child{
            margin-bottom: 0;
        }

        



    }





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){

    .ui-grid-set-gutters();

    .ui-row,
    .ui-grid{

        &>.ui-cell{

            &.ui-medium-auto{
                .flex(1);
            }

            &:not([class*="ui-small-"]):not([class*="ui-medium-"]):not([class*="ui-large-"]):not([class*="ui-xlarge-"]):not([class*="ui-xxlarge-"]){
                .flex(1);
            }

            &.ui-medium-1 { width:(100% / 12) * 1; }
            &.ui-medium-2 { width:(100% / 12) * 2; }
            &.ui-medium-3 { width:(100% / 12) * 3; }
            &.ui-medium-4 { width:(100% / 12) * 4; }
            &.ui-medium-5 { width:(100% / 12) * 5; }
            &.ui-medium-6 { width:(100% / 12) * 6; }
            &.ui-medium-7 { width:(100% / 12) * 7; }
            &.ui-medium-8 { width:(100% / 12) * 8; }
            &.ui-medium-9 { width:(100% / 12) * 9; }
            &.ui-medium-10{ width:(100% / 12) * 10;}
            &.ui-medium-11{ width:(100% / 12) * 11;}
            &.ui-medium-12{ width:(100% / 12) * 12;}

            &.ui-medium-min{ .flex(none); width: auto; }


        }

        
        .ui-cell.ui-strict,
        &.ui-strict>.ui-cell{
           &.ui-small-1 { width:@1col + @ui-gutter; }
           &.ui-small-2 { width:@2col + @ui-gutter; }
           &.ui-small-3 { width:@3col + @ui-gutter; }
           &.ui-small-4 { width:@4col + @ui-gutter; }
           &.ui-small-5 { width:@5col + @ui-gutter; }
           &.ui-small-6 { width:@6col + @ui-gutter; outline:1px solid red; }
           &.ui-small-7 { width:@7col + @ui-gutter; }
           &.ui-small-8 { width:@8col + @ui-gutter; }
           &.ui-small-9 { width:@9col + @ui-gutter; }
           &.ui-small-10 { width:@10col + @ui-gutter; }
           &.ui-small-11 { width:@11col + @ui-gutter; }
           &.ui-small-12 { width:@12col + @ui-gutter; }



           &.ui-medium-1 { width:@1col + @ui-gutter; }
           &.ui-medium-2 { width:@2col + @ui-gutter; }
           &.ui-medium-3 { width:@3col + @ui-gutter; }
           &.ui-medium-4 { width:@4col + @ui-gutter; }
           &.ui-medium-5 { width:@5col + @ui-gutter; }
           &.ui-medium-6 { width:@6col + @ui-gutter; }
           &.ui-medium-7 { width:@7col + @ui-gutter; }
           &.ui-medium-8 { width:@8col + @ui-gutter; }
           &.ui-medium-9 { width:@9col + @ui-gutter; }
           &.ui-medium-10 { width:@10col + @ui-gutter; }
           &.ui-medium-11 { width:@11col + @ui-gutter; }
           &.ui-medium-12 { width:@12col + @ui-gutter; }
        }


    }










}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){

    .ui-grid-set-gutters();

    .ui-row,
    .ui-grid{

        &>.ui-cell{

            &.ui-large-auto{
                width: auto;
                .flex(1);
            }

            &.ui-min,
            &.ui-large-min{ .flex(none); width: auto; }

            &.ui-large-1 { width:(100% / 12) * 1; }
            &.ui-large-2 { width:(100% / 12) * 2; }
            &.ui-large-3 { width:(100% / 12) * 3; }
            &.ui-large-4 { width:(100% / 12) * 4; }
            &.ui-large-5 { width:(100% / 12) * 5; }
            &.ui-large-6 { width:(100% / 12) * 6; }
            &.ui-large-7 { width:(100% / 12) * 7; }
            &.ui-large-8 { width:(100% / 12) * 8; }
            &.ui-large-9 { width:(100% / 12) * 9; }
            &.ui-large-10{ width:(100% / 12) * 10;}
            &.ui-large-11{ width:(100% / 12) * 11;}
            &.ui-large-12{ width:(100% / 12) * 12;}

            &.ui-large-min{ .flex(none); width: auto; }

        }
        
        .ui-cell.ui-strict,
        &.ui-strict>.ui-cell{
           &.ui-large-1 { .ui-get-col(width, 1, 100vw, @ui-gutter); }
           &.ui-large-2 { .ui-get-col(width, 2, 100vw, @ui-gutter); }
           &.ui-large-3 { .ui-get-col(width, 3, 100vw, @ui-gutter); }
           &.ui-large-4 { width:@4col + @ui-gutter; }
           &.ui-large-5 { width:@5col + @ui-gutter; }
           &.ui-large-6 { width:@6col + @ui-gutter; }
           &.ui-large-7 { width:@7col + @ui-gutter; }
           &.ui-large-8 { width:@8col + @ui-gutter; }
           &.ui-large-9 { width:@9col + @ui-gutter; }
           &.ui-large-10 { width:@10col + @ui-gutter; }
           &.ui-large-11 { width:@11col + @ui-gutter; }
           &.ui-large-12 { width:@12col + @ui-gutter; }
        }





    }




}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){


    .ui-grid-set-gutters();

    .ui-row,
    .ui-grid{


        .ui-grid{
            margin-left: -@ui-gutter/2;
            margin-right: -@ui-gutter;
        }

        &>.ui-cell{

            &.ui-xlarge-auto{
                .flex(1);
            }

            &.ui-xlarge-1 { width:(100% / 12) * 1; }
            &.ui-xlarge-2 { width:(100% / 12) * 2; }
            &.ui-xlarge-3 { width:(100% / 12) * 3; }
            &.ui-xlarge-4 { width:(100% / 12) * 4; }
            &.ui-xlarge-5 { width:(100% / 12) * 5; }
            &.ui-xlarge-6 { width:(100% / 12) * 6; }
            &.ui-xlarge-7 { width:(100% / 12) * 7; }
            &.ui-xlarge-8 { width:(100% / 12) * 8; }
            &.ui-xlarge-9 { width:(100% / 12) * 9; }
            &.ui-xlarge-10{ width:(100% / 12) * 10;}
            &.ui-xlarge-11{ width:(100% / 12) * 11;}
            &.ui-xlarge-12{ width:(100% / 12) * 12;}

            &.ui-xlarge-min{ .flex(none); width: auto; }

        }
        
        .ui-cell.ui-strict,
        &.ui-strict>.ui-cell{
           &.ui-xlarge-1 { width:@1col + @ui-gutter; }
           &.ui-xlarge-2 { width:@2col + @ui-gutter; }
           &.ui-xlarge-3 { width:@3col + @ui-gutter; }
           &.ui-xlarge-4 { width:@4col + @ui-gutter; }
           &.ui-xlarge-5 { width:@5col + @ui-gutter; }
           &.ui-xlarge-6 { width:@6col + @ui-gutter; }
           &.ui-xlarge-7 { width:@7col + @ui-gutter; }
           &.ui-xlarge-8 { width:@8col + @ui-gutter; }
           &.ui-xlarge-9 { width:@9col + @ui-gutter; }
           &.ui-xlarge-10 { width:@10col + @ui-gutter; }
           &.ui-xlarge-11 { width:@11col + @ui-gutter; }
           &.ui-xlarge-12 { width:@12col + @ui-gutter; }
        }


    }





}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){


    .ui-grid-set-gutters();

    .ui-row,
    .ui-grid{

        &>.ui-cell{

            &.ui-xxlarge-auto{
                .flex(1);
            }

            &.ui-xxlarge-1 { width:(100% / 12) * 1; }
            &.ui-xxlarge-2 { width:(100% / 12) * 2; }
            &.ui-xxlarge-3 { width:(100% / 12) * 3; }
            &.ui-xxlarge-4 { width:(100% / 12) * 4; }
            &.ui-xxlarge-5 { width:(100% / 12) * 5; }
            &.ui-xxlarge-6 { width:(100% / 12) * 6; }
            &.ui-xxlarge-7 { width:(100% / 12) * 7; }
            &.ui-xxlarge-8 { width:(100% / 12) * 8; }
            &.ui-xxlarge-9 { width:(100% / 12) * 9; }
            &.ui-xxlarge-10{ width:(100% / 12) * 10;}
            &.ui-xxlarge-11{ width:(100% / 12) * 11;}
            &.ui-xxlarge-12{ width:(100% / 12) * 12;}

            &.ui-xxlarge-min{ .flex(none); width: auto; }

        }
        
        .ui-cell.ui-strict,
        &.ui-strict>.ui-cell{
           &.ui-xxlarge-1 { width:@1col + @ui-gutter; }
           &.ui-xxlarge-2 { width:@2col + @ui-gutter; }
           &.ui-xxlarge-3 { width:@3col + @ui-gutter; }
           &.ui-xxlarge-4 { width:@4col + @ui-gutter; }
           &.ui-xxlarge-5 { width:@5col + @ui-gutter; }
           &.ui-xxlarge-6 { width:@6col + @ui-gutter; }
           &.ui-xxlarge-7 { width:@7col + @ui-gutter; }
           &.ui-xxlarge-8 { width:@8col + @ui-gutter; }
           &.ui-xxlarge-9 { width:@9col + @ui-gutter; }
           &.ui-xxlarge-10 { width:@10col + @ui-gutter; }
           &.ui-xxlarge-11 { width:@11col + @ui-gutter; }
           &.ui-xxlarge-12 { width:@12col + @ui-gutter; }
        }


    }







}/*---------------------------------------------------------------------------------------------------------- end xLarge */
