& when (@bp = @ui-bp-small){


    .ui-input{

        position: relative;
        margin-bottom: @ui-element-vertical-margin;
        text-align: left;
        .flex-display();
        .flex-wrap(wrap);
        .justify-content(flex-end);

        border-bottom: @r*1 solid transparent;
        &.ui-focus{
            //border-bottom-color: #0095FF;
        }
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 1;
            height: @ui-border-width;
            background-color: @ui-border-color;
            z-index: 1;
        }
        &:after{ 
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%; 
            opacity: 0;
            height: @ui-border-width;
            background-color: @ui-color-accent-focus;
            .transition(~'opacity .25s, width .5s');
            z-index: 2;
        }

        &:hover{

            &:before{
                background-color: @ui-color-accent-hover;
            }

        }

        &.ui-focus:after{
            width: 100%;
            opacity: 1;
        }   
      
      // &:after{
      //     content: "";
      //     color:#FF0048;
      //     background-color:#fff;
      //     text-align: center;
      //     width: @r*20;
      //     height: @r*20;
      //     border-radius: @r*20;
      //     position: absolute;
      //     pointer-events: none;
      //     border:@r solid #FF0048;
      //     font-family: "Helvetica", "Arial", sans-serif;
      //     bottom: (((@ui-element-vertical-padding*2) + @ui-font-primary-size) / 2)- (@r*10);
      //     right: (((@ui-element-vertical-padding*2) + @ui-font-primary-size) / 2)- (@r*10);
      //     font-size: @ui-font-primary-size-small;
      //     line-height:@ui-font-primary-size-small*1.8;
      //     font-weight: bold;
      //     opacity: 0; 
      //     visibility: hidden;
      //     .transition(~'.25s');
      // }

        .label,
        label{
            .flex(none);
            width:100%;
            display: block;
            font-size: .75em;
            text-transform: uppercase;
            opacity: .5;
        }

        &.ui-required .label,
        &.ui-required label{
            &:after{
                content: '*';
                color: @ui-color-error;
                opacity: .5;
                font-weight: bold;
                font-size: 1.2em;
                line-height: 0;
                margin-left: .2em;
            }
        }


        .ui-calendar{
            position: absolute;
            top: 100%;
            margin-top:.5em;
            left: 0;
            display: none;
        }

        &.ui-focus .ui-calendar{
            display: block;
        }

        input{
            position: relative;
            border:0 none;
            border-radius: 0;
            .box-sizing(border-box);
            .appearance(none);
            .flex-display();
            //.flex(1);

            font-family: inherit;
            width: 100%;
            padding:@ui-element-vertical-padding;
            padding-top: @ui-element-vertical-padding;
            padding-bottom: @ui-element-vertical-padding;
            padding-left: 0;
            padding-right: 0;
            border:0 none;
            background-color:transparent;

            &:focus{
                outline: 0 none;
            }



            .placeholder-style(){
                font-size: inherit;
                color:fade(@ui-color-text,50%);
            }

            &::-webkit-input-placeholder{.placeholder-style();}
            &::-moz-input-placeholder{.placeholder-style();}
            &::-ms-input-placeholder{.placeholder-style();}
            &::input-placeholder{.placeholder-style();}

            &[type="password"]{
                letter-spacing: 3px;
                .password-placeholder-style(){
                letter-spacing: normal;
                }
                &::-webkit-input-placeholder{.password-placeholder-style();}
                &::-moz-input-placeholder{.password-placeholder-style();}
                &::-ms-input-placeholder{.password-placeholder-style();}
                &::input-placeholder{.password-placeholder-style();}
            }

            // &[type="date"]{
            //     -webkit-appearance: none;
            //     -moz-appearance: none;
            //     appearance: none;
                
            //     &::-webkit-calendar-picker-indicator{
            //         display: none;
            //     }
            //     &::-webkit-input-placeholder{ 
            //         visibility: hidden !important;
            //     }

            // }


        }

        &.ui-has-acc-right input,
        &.ui-has-acc-left input{
            width: auto; 
            min-width: 1px;
            .flex(1);
        }

        &.ui-has-acc-left input{
            padding-left: @ui-element-horizontal-padding;
        }

        &.ui-has-acc-right input{
            padding-right: @ui-element-horizontal-padding;
        }

        .ui-acc{
            .flex-display();
            .flex(initial);
            .align-content(center);
            .align-items(center);
            height: auto;
            padding:@ui-element-vertical-padding * .5;
            margin:@ui-element-vertical-padding * .5;
            padding-left: @ui-element-horizontal-padding;
            padding-right: @ui-element-horizontal-padding;
            margin-left:0;
            margin-right:0;
            cursor: text;
            color: fade(@ui-color-text, 75%);
            font-weight: @ui-font-weight-semi-bold;
        }
        .ui-acc-icon{
            font-weight: normal;
        }
        .ui-acc-left{
            padding-left: 0;
            border-right: 1px solid @ui-border-color;
        }
        .ui-acc-right{
            padding-right: 0;
            border-left: 1px solid @ui-border-color;
        }

        .ui-acc-button{
            padding:0;
            &.ui-acc-right{
                padding-left:@ui-element-vertical-padding * .5;
            }
        }
        .ui-acc-button .ui-button{
            margin:0;
            padding-top:@ui-element-vertical-padding * .5;
            padding-bottom:@ui-element-vertical-padding * .5;

            &.chromeless{
                padding-right: 0;
                padding-left: 0;
                margin-left:@ui-element-vertical-padding * .5;
            }
        }

        .ui-acc-select{
            padding:0;
            &.ui-acc-right{
                padding-left:@ui-element-vertical-padding * .5;
            }
        }
        .ui-acc-select .ui-select{
            margin:0;
            select{
                padding-top:@ui-element-vertical-padding * .5;
                padding-bottom:@ui-element-vertical-padding * .5;
            }

            &:before,
            &:after{
                display: none;
            }
        }






      i.accessory{
          text-align: center;
      }

      .accessory:not(i){
          width: auto;
      }

  }

 





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
