& when (@bp = @ui-bp-small){



    .ui-menu:not(.no-style){

        font-family: inherit;
        overflow: hidden;
        box-shadow: 0px 1px 3px fade(#000,30%);
        background-color: #fff;

        &.ui-open{
            opacity: 1;
            visibility: visible;
        }
        &.ui-closed{
            opacity: 0;
            visibility: hidden;
        }

        &.ui-animated{
            .transition(~'height .25s');
        }
        &:focus{
            outline: 0 none;
        }
        &.ui-focus .ui-menu-items{
            //border-color: @ui-color-accent;
        }

        .ui-menu-items{
            background-color: #fff;
            padding-top: @ui-element-vertical-padding/2;
            padding-bottom: @ui-element-vertical-padding/2;
        }

        &.ui-scroll{
            overflow: scroll;
            overflow-x: hidden;
        }

        .ui-menu-items .ui-menu-item{
            font-family: inherit;
            background-color: transparent;
            color: inherit;
            text-transform: none;
            text-align: left;
            margin:0;
            padding-top: @ui-element-vertical-padding;
            padding-bottom: @ui-element-vertical-padding;
            padding-left: @ui-element-horizontal-padding;
            padding-right: @ui-element-horizontal-padding*2;
            border:0 none;
            width: 100%;
            font-size: inherit;

            &:focus{
                background-color: darken(#fff, 1.5%);
            }

            &:hover{
                background-color: darken(#fff, 2.5%);
            }
            &.ui-active{
                color:@ui-color-accent;
            }
        }


        .search-box{
            margin:0;
            margin-left: @ui-element-horizontal-padding;
            margin-right: @ui-element-horizontal-padding;
        }
        .search-box + .ui-menu-items{
            margin-top: @ui-element-vertical-padding/2;
        }

    }




}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){






    // body.ui-test-body{
    //     padding-left: @ui-gutter;
    //     padding-right: @ui-gutter;
    // }






}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
