& when (@bp = @ui-bp-small){


    .ui-select{

        position: relative;
        margin-bottom: @ui-element-vertical-margin;
        text-align: left;
        .flex-display();
        .flex-wrap(wrap);
        .justify-content(flex-end);

        border-bottom: @r*1 solid transparent;
        &.ui-focus{
            //border-bottom-color: #0095FF;
        }
        &:before{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            opacity: 1;
            height: @ui-border-width;
            background-color: @ui-border-color;
        }
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            opacity: 0;
            height: @ui-border-width;
            background-color: @ui-color-accent-focus;
            .transition(~'opacity .25s, width .5s');
        }

        &:hover{

            &:before{
                background-color: @ui-color-accent-hover;
            }

        }

        &.ui-focus:after{
            width: 100%;
            opacity: 1;
        }   

        .ui-select-icon{
            position: absolute;
            right: 0;
            bottom:0;
            padding-bottom: @ui-element-vertical-padding;
            margin-bottom: 0em;
            pointer-events: none;
            line-height: 1;
             
            &:before{
                display: block;
                .transition(~'.25s');
                .rotateZ(0deg);
            }

        }
        &.ui-focus .ui-select-icon:before{
            .rotateZ(180deg);
        }

        .ui-acc-select & .ui-select-icon{
            padding-top: @ui-element-vertical-padding/2;
        }

        .label,
        label{
            .flex(none);
            width:100%;
            display: block;
            font-size: .75em;
            text-transform: uppercase;
            opacity: .5;
        }



        


        .ui-display,
        select{
            position: relative;
            border:0 none;
            border-radius: 0;
            .box-sizing(content-box);
            .appearance(none);
            .flex-display();
            line-height: 1em;
            height: 1.2em;
            font-size: inherit;

            width: 100%;
            padding:@ui-element-vertical-padding;
            padding-top: @ui-element-vertical-padding;
            padding-bottom: @ui-element-vertical-padding;
            padding-left: 0;
            padding-right: 2em;
            border:0 none;
            background-color:transparent;
            cursor: pointer;

            &:focus{
                outline: 0 none;
            }


        }

        &.ui-empty-value .ui-display,
        &.ui-empty-value select{
            
            color: fade(@ui-color-text,50%);
        }

        &.ui-has-acc-right .ui-display,
        &.ui-has-acc-left .ui-display{
            width: auto; 
            min-width: 1px;
            .flex(1);
        }

        &.ui-has-acc-left .ui-display,
        &.ui-has-acc-left select{
            padding-left: @ui-element-horizontal-padding;
        }

        &.ui-has-acc-right .ui-display,
        &.ui-has-acc-right select{
            padding-right: @ui-element-horizontal-padding;
        }


        .ui-acc{
            .flex-display();
            .flex(initial);
            .align-content(center);
            .align-items(center);
            height: auto;
            padding:@ui-element-vertical-padding * .5;
            margin:@ui-element-vertical-padding * .5;
            padding-left: @ui-element-horizontal-padding;
            padding-right: @ui-element-horizontal-padding;
            margin-left:0;
            margin-right:0;
            cursor: text;
            color: fade(@ui-color-text, 75%);
            font-weight: @ui-font-weight-semi-bold;
        }
        .ui-acc-left{
            padding-left: 0;
            border-right: 1px solid @ui-border-color;
        }
        .ui-acc-right{
            padding-right: 0;
            border-left: 1px solid @ui-border-color;
        }

        .ui-acc-button{
            padding:0;
            &.ui-acc-right{
                padding-left:@ui-element-vertical-padding * .5;
            }
        }
        .ui-acc-button .ui-button{
            margin:0;
            padding-top:@ui-element-vertical-padding * .5;
            padding-bottom:@ui-element-vertical-padding * .5;

            &.chromeless{
                padding-right: 0;
                padding-left: 0;
                margin-left:@ui-element-vertical-padding * .5;
            }
        }


        &.ui-error{
            
            &:before{
                background-color: lighten(@ui-color-error, 35%);
            }

            &:after{
                background-color: @ui-color-error;
            }


            &.ui-error-show .ui-error-message,
            &.ui-focus .ui-error-message,
            &:hover .ui-error-message{
                visibility: visible;
                opacity: 1;
                z-index: 999;
                padding-top: @ui-element-vertical-padding;
                padding-bottom: @ui-element-vertical-padding;
            }

        }

        .ui-error-message{
            background-color:#fff;
            color:@ui-color-error;
            position: absolute;
            top: 100%;
            width: 100%;
            left: 0;
            opacity: 0;
            .box-sizing(border-box);
            .transition(~'.5s');
            .ease(easeOutExpo);
            font-size: .75em;
            padding-top: 0;
            padding-bottom: @ui-element-vertical-padding;
            padding-left: @ui-element-horizontal-padding;
            padding-right: @ui-element-horizontal-padding;
            pointer-events: none;

        }

  }



  .ui-select-menu.ui-menu{
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      z-index: 10;
      min-width: @r*130;
      color:@ui-color-text;

      .ui-menu-items{
          max-height: @r*200;
          overflow:auto;
      }
  }
 





}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
