& when (@bp = @ui-bp-small){



 .ui-toggle{

     @width:@ui-toggle-width;
     @height:@ui-toggle-height;
     @border:@ui-toggle-inner-padding;

     border:0 none;
     margin:0;
     position: relative;
     margin-bottom: @ui-element-vertical-margin;

     text-align: left;
     .user-select(none);

     position: relative;
     display: block;
     text-align: left;
     .box-sizing(border-box);

     &:focus{
         outline: 0 none;
     }


     &.error{
         
     }

     label{
         display: block;
         width: 100%;
         position: relative;
         padding:@ui-element-vertical-padding;
         padding-top: @ui-element-vertical-padding;
         padding-bottom: @ui-element-vertical-padding;
         padding-left: 0;
         padding-right: 0;

     }


     input[type="radio"],
     input[type="checkbox"]{
         position: absolute;
         top: 0px;
         right: 0px;
         opacity: 0;
     }

    /*
    
  ,ad8888ba,  88                                88        88
 d8"'    `"8b 88                                88        88
d8'           88                                88        88
88            88,dPPYba,   ,adPPYba,  ,adPPYba, 88   ,d8  88,dPPYba,   ,adPPYba, 8b,     ,d8
88            88P'    "8a a8P_____88 a8"     "" 88 ,a8"   88P'    "8a a8"     "8a `Y8, ,8P'
Y8,           88       88 8PP""""""" 8b         8888[     88       d8 8b       d8   )888(
 Y8a.    .a8P 88       88 "8b,   ,aa "8a,   ,aa 88`"Yba,  88b,   ,a8" "8a,   ,a8" ,d8" "8b,
  `"Y8888Y"'  88       88  `"Ybbd8"'  `"Ybbd8"' 88   `Y8a 8Y"Ybbd8"'   `"YbbdP"' 8P'     `Y8


    */
    &.ui-style-checkbox{

        input[type="checkbox"] ~ label{
            padding-left: 2em;
            &:before{
                content:'';
                background-color: transparent;
                border: @ui-border-width solid @ui-border-color;
                width: 1.4em;
                height: 1.4em;    
                margin-top:-.05em;
                display: block;
                position: absolute;
                left: 0;
                top: @ui-element-vertical-padding;
                .transition(~'.25s');
            }
        }

        input[type="checkbox"] ~ label .ui-toggle-icon{
            display: block;
            position: absolute;
            background-color: transparent;
            border: @ui-border-width solid transparent;
            width: 1.4em;
            height: 1.4em;    
            margin-top:-.05em;
            left: 0;
            top: @ui-element-vertical-padding;
            color:@ui-color-accent;
            text-align: center;
            line-height: 1.1em;
            opacity: 0;
            .transition(~'.15s');
            .translate3d(0,0,-500px, 500); 


            &:before{
                content: '';
                display: block;
                border-bottom: .2em solid @ui-color-accent;
                border-right: .2em solid @ui-color-accent;
                width: .45em;
                height: .8em;
                left: 50%;
                top: 50%;
                margin-top: -.5em;
                margin-left: -.2em;
                .transform-origin(50%,50%);
                .rotateZ(45deg);
                position: absolute;
            }

        }
        input[type="checkbox"]:checked ~ label .ui-toggle-icon{
            opacity: 1;
            .translate3d(0,0,0px, 500); 
        }

        input[type="checkbox"]:focus ~ label{
            &:before{
                border-color: @ui-color-accent;
            }
        }


        input[type="checkbox"] ~ label:hover{
            &:before{
                border-color: fade(@ui-color-accent-hover, 25%);
            }
        }

        input[type="checkbox"]:checked ~ label{
            &:after{
                right:@border;
            }
            &:before{
                border-color: @ui-border-color;
            }

        }
        input[type="checkbox"]:checked:focus ~ label,
        input[type="checkbox"]:checked ~ label:hover{
            &:before{
                border-color: @ui-color-accent;
            }
         }


         &.ui-error input[type="checkbox"] ~ label:before{
             border-color:fade(@ui-color-error, 50%);
         } 

         &.ui-error-show input[type="checkbox"] ~ label:before{
             border-color:@ui-color-error;
         }

     }

    /*
    
88888888ba                      88 88
88      "8b                     88 ""
88      ,8P                     88
88aaaaaa8P' ,adPPYYba,  ,adPPYb,88 88  ,adPPYba,
88""""88'   ""     `Y8 a8"    `Y88 88 a8"     "8a
88    `8b   ,adPPPPP88 8b       88 88 8b       d8
88     `8b  88,    ,88 "8a,   ,d88 88 "8a,   ,a8"
88      `8b `"8bbdP"Y8  `"8bbdP"Y8 88  `"YbbdP"'


    */
    &.ui-style-radio{

        .ui-toggle-icon{
            display: none;
        }

        input[type="radio"] ~ label{
            padding-left: 2em;
            &:before{
                content:'';
                background-color: transparent;
                border: @ui-border-width solid @ui-border-color;
                width: 1.4em;
                height: 1.4em;    
                margin-top:-.05em;
                display: block;
                position: absolute;
                left: 0;
                top: @ui-element-vertical-padding;
                border-radius: 1.4em;
                .box-sizing(border-box);
                .transition(~'.25s');
            }
            &:after{
                content:'';
                color:@ui-color-accent;
                background-color: currentColor;
                border: @ui-border-width solid currentColor;
                width: 1.4em;
                height: 1.4em;    
                margin-top:-.05em;
                display: block;
                position: absolute;
                left: 0;
                top: @ui-element-vertical-padding;
                border-radius: 1.4em;
                .box-sizing(border-box);
                .transition(~'.25s');
                .translate3d(0,0,-1500px, 500); 
                opacity: 0;
            }
        }

        input[type="radio"]:focus ~ label,
        input[type="radio"] ~ label:hover{
            &:before{
                border-color: fade(@ui-color-accent-hover, 25%);
            }
         }

         input[type="radio"]:checked ~ label{
             &:after{
                opacity: 1;
                .translate3d(0,0,-800px, 500); 
             }
             &:before{
                 border-color: @ui-border-color;
             }

         }

         input[type="radio"] ~ label:hover{
            &:before{
                border-color: fade(@ui-color-accent-hover, 25%);
            }
         }
         input[type="radio"]:checked:focus ~ label{
            &:after{
                color: @ui-color-accent;
            }
            &:before{
                border-color: @ui-color-accent;
            }
         }



        &.ui-acc-input {
            .flex-display();
            .flex-wrap(wrap);
            .justify-content(flex-start);

            &>label{
                width: 0;
            }

            .ui-input{
                .flex(1);
                margin-bottom: 0;
            }
        }

     }



     &.ui-style-switch{

         input[type="checkbox"] + label{
             &:after{
                 content:'';
                 position: absolute;
                 top: 50%;
                 margin-top: -((@height - (@ui-toggle-inner-padding*2)) / 2);
                 right:  @width - (@height - (@ui-toggle-inner-padding*2)) - @border;
                 background-color: #fff;
                 width: @height - (@ui-toggle-inner-padding*2);
                 height: @height - (@ui-toggle-inner-padding*2);
                 border-radius: @ui-toggle-rounded - @ui-toggle-inner-padding;
                 cursor: pointer;
                 .transition(~'.25s');
                 //box-shadow:0px 4px 10px fade(#000,40%);
             }
             &:before{
                 content:@ui-toggle-switch-label;
                 cursor: pointer;
                 font-size: @height - @ui-toggle-inner-padding;
                 font-weight: bold;
                 font-family: "Helvetica", "Arial", sans-serif;
                 text-align: left;
                 letter-spacing: @ui-toggle-switch-label-letter-spacing;
                 line-height: @ui-toggle-switch-label-line-height;
                 color: lighten(@ui-color-primary,30%);
                 text-transform: uppercase;
                 position: absolute;
                 top: 50%;
                 margin-top: -(@height / 2);
                 right: 0px;
                 padding-top: 0px;
                 border-radius: @ui-toggle-rounded;
                 .box-sizing(border-box);
                 background-color: lighten(@ui-color-primary,10%);
                 width:  @width;
                 height: @height;
                 .transition(~'.25s');
             }

         }
         input[type="checkbox"]:focus + label,
         input[type="checkbox"] + label:hover{
             &:before{
                 color:lighten(@ui-color-primary, 40%);
                 background-color: lighten(@ui-color-primary,5%);
             }
         }

         input[type="checkbox"]:checked + label{
             &:after{
                 right:@border;
             }
             &:before{
                 color: lighten(@ui-color-accent, 30%);
                 background-color: @ui-color-accent;
             }

         }
         input[type="checkbox"]:checked:focus + label,
         input[type="checkbox"]:checked + label:hover{
             &:before{
                 background-color: lighten(@ui-color-accent, 5%);
             }
         }


         &.left-side{

             label{
                 text-align: right;
             }

             input[type="checkbox"]{
                 right: auto;
                 left: 0;
             }

             input[type="checkbox"] + label{
                 &:after{
                     left: @border;
                     right:auto;
                 }
                 &:before{
                     left: 0px;
                     right:auto;
                 }
             }

             input[type="checkbox"]:checked + label{
                 &:after{
                     left: @width - (@height - (@ui-toggle-inner-padding*2)) - @border;
                     right: auto;
                 }
             }

         }
     }





 }








}/*----------------------------------------------------------------------------------------------------------- end Small */
/*

88b           d88                     88 88
888b         d888                     88 ""
88`8b       d8'88                     88
88 `8b     d8' 88  ,adPPYba,  ,adPPYb,88 88 88       88 88,dPYba,,adPYba,
88  `8b   d8'  88 a8P_____88 a8"    `Y88 88 88       88 88P'   "88"    "8a
88   `8b d8'   88 8PP""""""" 8b       88 88 88       88 88      88      88
88    `888'    88 "8b,   ,aa "8a,   ,d88 88 "8a,   ,a88 88      88      88
88     `8'     88  `"Ybbd8"'  `"8bbdP"Y8 88  `"YbbdP'Y8 88      88      88


-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-medium){












}/*----------------------------------------------------------------------------------------------------------- end Medium */
/*

88
88
88
88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
88          ,adPPPPP88 88         8b       88 8PP"""""""
88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                   aa,    ,88
                                    "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-large){








}/*----------------------------------------------------------------------------------------------------------- end Large */
/*

            88
            88
            88
8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                               aa,    ,88
                                                "Y8bbdP"                                                                              
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xlarge){








}/*---------------------------------------------------------------------------------------------------------- end xLarge */
/*

                        88
                        88
                        88
8b,     ,d8 8b,     ,d8 88          ,adPPYYba, 8b,dPPYba,  ,adPPYb,d8  ,adPPYba,
 `Y8, ,8P'   `Y8, ,8P'  88          ""     `Y8 88P'   "Y8 a8"    `Y88 a8P_____88
   )888(       )888(    88          ,adPPPPP88 88         8b       88 8PP"""""""
 ,d8" "8b,   ,d8" "8b,  88          88,    ,88 88         "8a,   ,d88 "8b,   ,aa
8P'     `Y8 8P'     `Y8 88888888888 `"8bbdP"Y8 88          `"YbbdP"Y8  `"Ybbd8"'
                                                           aa,    ,88
                                                            "Y8bbdP"
-------------------------------------------------------------------------------------------------*/
& when (@bp = @ui-bp-xxlarge){












}/*---------------------------------------------------------------------------------------------------------- end xLarge */
